In [1]:
import pandas as pd
import os
from functools import reduce

In [ ]:
# Es un dataframe con todas las sociedades_df concatenadas, no se chingan pc por siaca
sociedades_df = reduce(lambda x,y: pd.concat((x,y)),
       map(lambda x: pd.read_csv(os.path.join('data', x), sep=';'),
    filter(lambda x: '20' in x,
        os.listdir('data'))))
# Dataframe de los contratos
pagos_df = pd.read_csv(os.path.join('data', 'pagos.csv'))
ofertas_df = pd.read_csv(os.path.join('data', 'ofertas.csv'))
proyectos_df = pd.read_csv(os.path.join('data', 'proyectos.csv'))

requisitos_df = pd.read_csv(os.path.join('data', 'requisitos.csv'))

C:\Users\danie\AppData\Local\Temp\ipykernel_3656\2765469861.py:7: DtypeWarning: Columns (9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  pagos_df = pd.read_csv(os.path.join('data', 'pagos.csv'))

,CODIGOCONTRATO,NOMBRE_TIPOREGISTRO,CODIGO_ESPECIALIDAD,NOMBRE_ESPECIALIDAD,CODIGO_CATEGORIA,NOMBRE_CATEGORIA
0,148176,Contratista O. Menores,13 O.M.,Instalaciones Eléctricas,A a S,A Superior
1,155576,Contratista O. Mayores,3 O.C.,Pavimentos,2da,Segunda
2,138305,Contratista O. Mayores,2 O.C.,Obras de Hormigon Estructural,2da,Segunda
3,138305,Contratista O. Mayores,10 O.C.,Fundaciones,3era A,Tercera A
4,138305,Contratista O. Mayores,15 O.C.,Puentes y Cruces Desnivelados,2da,Segunda
...,...,...,...,...,...,...
21239,387206,Contratista O. Mayores,1 O.C.,Obras de Movimiento de Tierra,3era A,Tercera A
21240,387206,Contratista O. Mayores,13 O.C.,Obras de Defensas Fluviales,3era A,Tercera A
21241,378385,Contratista O. Mayores,5 O.C.,Obras de Colocacion de Tuberias,3era B,Tercera B
21242,391582,Consultor,4.1.,Estructuras,2da,Segunda
21243,391582,Consultor,4.4.,Obras Portuarias,2da,Segunda

## ETL
#### contratos_df

In [48]:
contratos_df = pd.read_csv(os.path.join('data', 'contratos.csv'))
contratos_df.head()

,REGIONGEOGRAFICA,CODIGOCONTRATO,CODIGOBIP,NOMBRECONTRATO,SERVICIO,CENTROGESTION,TIPOGASTO,ESTADO,FECHAINICIO,FECHATERMINO,...,MONTOVIGENTE,IDCHILECOMPRA,RUTADJUDICADO,NOMBREADJUDICADO,MODALIDADLICITACION,MODALIDADCONTRATACION,TIPOREAJUSTE,TIPO_PERFIL,AVANCEFINANCIERO,MANDANTE
0,Tarapacá,15096,NaN,Reparación Ss.Hh. Edificio M.O.P.,ARQUITECTURA,Dirección de Arquitectura I Region,Obra,En Ejecución,17/07/13,27/07/13,...,59000,NaN,7957091,HECTOR HERNAN MOREIRA SCIARAFFIA.,Trato directo,PRECIOS UNITARIOS,Sin Reajuste,NaN,0.0,Externos
1,Atacama,15239,NaN,Conservación Repar Edificios M.O.P. 1999,ARQUITECTURA,Dirección de Arquitectura III Region,Obra,Terminado,15/04/10,30/04/10,...,2593916,NaN,7288982,JORGE ALEXIS CANTO VERGARA,Propuesta privada,PRECIOS UNITARIOS,Sin Reajuste,NaN,0.0,Externos
2,Aysén,91114,30237372-0,ENCAUZAMIENTO MAQUINARIA PESADA RÍO EL SILENCI...,OBRAS HIDRÁULICAS,Dirección de Obras Hidráulicas XI Region,Obra,Terminado,03/12/15,23/12/15,...,18831750,1149-36-LE15,9176977,LUIS PATRICIO ROA MUNOZ,Propuesta publica,SUMA ALZADA,Sin Reajuste,Contratista O. Menores,1.0,Internos
3,Aysén,91131,30101318-0,CONSERVACION RED PRIMARIA DE AGUAS LLUVIAS PUE...,OBRAS HIDRÁULICAS,Dirección de Obras Hidráulicas XI Region,Obra,Terminado,10/10/13,29/12/13,...,44159338,1149-26-LE13,9176977,LUIS PATRICIO ROA MUNOZ,Propuesta publica,SUMA ALZADA,Sin Reajuste,Contratista O. Menores,1.0,Internos
4,Aysén,102609,30101318-0,"CONSERVACIÓN RED PRIMARIA DE AGUAS LLUVIAS, PU...",OBRAS HIDRÁULICAS,Dirección de Obras Hidráulicas XI Region,Obra,Terminado,31/05/13,21/12/13,...,243663811,1149-3-LP13,76058293,SOCIEDAD FINLEZ Y RUIZ LTDA.,Propuesta publica,SUMA ALZADA,Sin Reajuste,Contratista O. Menores,1.0,Internos

In [50]:
contratos_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18252 entries, 0 to 18251
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   REGIONGEOGRAFICA       18252 non-null  object
 1   CODIGOCONTRATO         18252 non-null  int64
 2   CODIGOBIP              18197 non-null  object
 3   NOMBRECONTRATO         18252 non-null  object
 4   SERVICIO               18252 non-null  object
 5   CENTROGESTION          18252 non-null  object
 6   TIPOGASTO              18252 non-null  object
 7   ESTADO                 18252 non-null  object
 8   FECHAINICIO            18252 non-null  object
 9   FECHATERMINO           18252 non-null  object
 10  FECHATERMINOORIGINAL   18252 non-null  object
 11  MONTOINICIAL           18252 non-null  int64
 12  MONTOVIGENTE           18252 non-null  int64
 13  IDCHILECOMPRA          14567 non-null  object
 14  RUTADJUDICADO          18252 non-null  int64
 15  NOMBREADJUDICADO       18252 non-null  object
 16  MODALIDADLICITACION    18252 non-null  object
 17  MODALIDADCONTRATACION  18252 non-null  object
 18  TIPOREAJUSTE           18252 non-null  object
 19  TIPO_PERFIL            14702 non-null  object
 20  AVANCEFINANCIERO       18250 non-null  float64
 21  MANDANTE               18252 non-null  object
dtypes: float64(1), int64(4), object(17)
memory usage: 3.1+ MB

cambio de tipos

In [ ]:
posibles_categoricos = ('REGIONGEOGRAFICA', 'SERVICIO', 'TIPOGASTO', 'ESTADO', 'MODALIDADLICITACION', 'MODALIDADCONTRATACION','TIPOREAJUSTE', 'TIPO_PERFIL', 'MANDANTE')
for i in posibles_categoricos:
    print('Valores unicos de la columna', i, tuple(contratos_df[i].unique()))

Valores unicos de la columna REGIONGEOGRAFICA ('Tarapacá', 'Atacama', 'Aysén', 'La Araucanía', 'Metropolitana de Santiago', 'Coquimbo', 'Antofagasta', 'Valparaíso', 'Los Lagos', 'Arica y Parinacota', 'Magallanes y de la Antártica Chilena', 'OHiggins', 'Ñuble', 'Biobío', 'Maule', 'Los Ríos', 'Interregional')
Valores unicos de la columna SERVICIO ('ARQUITECTURA', 'OBRAS HIDRÁULICAS', 'O.PORTUARIAS', 'SSSR', 'VIALIDAD', 'AEROPUERTOS', 'D.G.O.P.', 'I. N. HIDRAULICA')
Valores unicos de la columna TIPOGASTO ('Obra', 'Asesorías y Consultorías', 'Estudio')
Valores unicos de la columna ESTADO ('En Ejecución', 'Terminado')
Valores unicos de la columna MODALIDADLICITACION ('Trato directo', 'Propuesta privada', 'Propuesta publica', 'Trato Directo con Cotización')
Valores unicos de la columna MODALIDADCONTRATACION ('PRECIOS UNITARIOS', 'SUMA ALZADA', 'SUMA ALZADA Y PRECIOS UNIT', 'PAGO CONTRA RECEPCION')
Valores unicos de la columna TIPOREAJUSTE ('Sin Reajuste', 'Indice de Precios al Consumidor', 'Indice Polinomico', 'Otros')
Valores unicos de la columna TIPO_PERFIL (nan, 'Contratista O. Menores', 'Sin Registro', 'Contratista O. Mayores', 'Consultor', 'Otro Registro')
Valores unicos de la columna MANDANTE ('Externos', 'Internos')

In [52]:
for i in posibles_categoricos:
    contratos_df[i] = contratos_df[i].astype('category')

In [53]:
contratos_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18252 entries, 0 to 18251
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   REGIONGEOGRAFICA       18252 non-null  category
 1   CODIGOCONTRATO         18252 non-null  int64
 2   CODIGOBIP              18197 non-null  object
 3   NOMBRECONTRATO         18252 non-null  object
 4   SERVICIO               18252 non-null  category
 5   CENTROGESTION          18252 non-null  object
 6   TIPOGASTO              18252 non-null  category
 7   ESTADO                 18252 non-null  category
 8   FECHAINICIO            18252 non-null  object
 9   FECHATERMINO           18252 non-null  object
 10  FECHATERMINOORIGINAL   18252 non-null  object
 11  MONTOINICIAL           18252 non-null  int64
 12  MONTOVIGENTE           18252 non-null  int64
 13  IDCHILECOMPRA          14567 non-null  object
 14  RUTADJUDICADO          18252 non-null  int64
 15  NOMBREADJUDICADO       18252 non-null  object
 16  MODALIDADLICITACION    18252 non-null  category
 17  MODALIDADCONTRATACION  18252 non-null  category
 18  TIPOREAJUSTE           18252 non-null  category
 19  TIPO_PERFIL            14702 non-null  category
 20  AVANCEFINANCIERO       18250 non-null  float64
 21  MANDANTE               18252 non-null  category
dtypes: category(9), float64(1), int64(4), object(8)
memory usage: 2.0+ MB

In [54]:
contratos_df['FECHAINICIO'] = contratos_df['FECHAINICIO'].apply(lambda x: x[:6] + '20' + x[6:])
contratos_df['FECHATERMINO'] = contratos_df['FECHATERMINO'].apply(lambda x: x[:6] + '20' + x[6:])
contratos_df['FECHATERMINOORIGINAL'] = contratos_df['FECHATERMINOORIGINAL'].apply(lambda x: x[:6] + '20' + x[6:])

In [ ]:
contratos_df['FECHAINICIO'] = pd.to_datetime(contratos_df['FECHAINICIO'], format="%d/%m/%Y", errors='coerce')
contratos_df['FECHATERMINO'] = pd.to_datetime(contratos_df['FECHATERMINO'], format="%d/%m/%Y", errors='coerce')
contratos_df['FECHATERMINOORIGINAL'] = pd.to_datetime(contratos_df['FECHATERMINOORIGINAL'], format="%d/%m/%Y", errors='coerce')

In [56]:
contratos_df[['FECHAINICIO', 'FECHATERMINO', 'FECHATERMINOORIGINAL']]

      FECHAINICIO FECHATERMINO FECHATERMINOORIGINAL
0      2013-07-17   2013-07-27           2013-07-27
1      2010-04-15   2010-04-30           2010-04-30
2      2015-12-03   2015-12-23           2015-12-23
3      2013-10-10   2013-12-29           2013-12-29
4      2013-05-31   2013-12-21           2013-11-27
...           ...          ...                  ...
18247  2024-05-16   2024-05-26           2024-05-26
18248  2024-06-24   2024-07-01           2024-07-01
18249  2024-05-30   2024-07-14           2024-07-14
18250  2024-05-30   2024-07-14           2024-07-14
18251  2024-05-30   2024-07-14           2024-07-14

[18252 rows x 3 columns]

In [57]:
contratos_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18252 entries, 0 to 18251
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   REGIONGEOGRAFICA       18252 non-null  category
 1   CODIGOCONTRATO         18252 non-null  int64
 2   CODIGOBIP              18197 non-null  object
 3   NOMBRECONTRATO         18252 non-null  object
 4   SERVICIO               18252 non-null  category
 5   CENTROGESTION          18252 non-null  object
 6   TIPOGASTO              18252 non-null  category
 7   ESTADO                 18252 non-null  category
 8   FECHAINICIO            18252 non-null  datetime64[ns]
 9   FECHATERMINO           18252 non-null  datetime64[ns]
 10  FECHATERMINOORIGINAL   18252 non-null  datetime64[ns]
 11  MONTOINICIAL           18252 non-null  int64
 12  MONTOVIGENTE           18252 non-null  int64
 13  IDCHILECOMPRA          14567 non-null  object
 14  RUTADJUDICADO          18252 non-null  int64
 15  NOMBREADJUDICADO       18252 non-null  object
 16  MODALIDADLICITACION    18252 non-null  category
 17  MODALIDADCONTRATACION  18252 non-null  category
 18  TIPOREAJUSTE           18252 non-null  category
 19  TIPO_PERFIL            14702 non-null  category
 20  AVANCEFINANCIERO       18250 non-null  float64
 21  MANDANTE               18252 non-null  category
dtypes: category(9), datetime64[ns](3), float64(1), int64(4), object(5)
memory usage: 2.0+ MB

In [58]:
contratos_df['REGIONGEOGRAFICA'].unique()

['Tarapacá', 'Atacama', 'Aysén', 'La Araucanía', 'Metropolitana de Santiago', ..., 'Ñuble', 'Biobío', 'Maule', 'Los Ríos', 'Interregional']
Length: 17
Categories (17, object): ['Antofagasta', 'Arica y Parinacota', 'Atacama', 'Aysén', ..., 'OHiggins', 'Tarapacá', 'Valparaíso', 'Ñuble']

pagos_df

In [59]:
pagos_df.info()
pagos_df.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119913 entries, 0 to 119912
Data columns (total 15 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   AGNO               119913 non-null  int64
 1   REGIONGEOGRAFICA   119913 non-null  object
 2   CODIGOCONTRATO     119913 non-null  int64
 3   SUBTITULO          119913 non-null  object
 4   SERVICIO           119913 non-null  object
 5   ITEM               119913 non-null  object
 6   ASIGNACION         119913 non-null  object
 7   CODIGOBIP          119913 non-null  object
 8   SUBASIGNACION      119913 non-null  object
 9   FECHA_DOCUMENTO    46307 non-null   object
 10  FECHA_INGRESO_MOP  46289 non-null   object
 11  FECHAPAGO          119913 non-null  object
 12  TOTALPAGADO        119913 non-null  int64
 13  RUTADJUDICADO      119913 non-null  int64
 14  NOMBREADJUDICADO   119895 non-null  object
dtypes: int64(4), object(11)
memory usage: 13.7+ MB

,AGNO,REGIONGEOGRAFICA,CODIGOCONTRATO,SUBTITULO,SERVICIO,ITEM,ASIGNACION,CODIGOBIP,SUBASIGNACION,FECHA_DOCUMENTO,FECHA_INGRESO_MOP,FECHAPAGO,TOTALPAGADO,RUTADJUDICADO,NOMBREADJUDICADO
119908,2024,Ñuble,389837,INICIATIVAS DE INVERSIÓN,Dirección de Vialidad,PROYECTOS,OBRAS CIVILES EMERGENCIA,40055557-0,CONSERVACION POR EMERGENCIA RED VIAL REGION DE...,28/06/24,28/06/24,28/06/24,186069315,79929720,INGENIERIA Y CONSTRUCCION EDUARDO ARANCIBIA SA
119909,2024,Ñuble,391576,INICIATIVAS DE INVERSIÓN,Dirección de Obras Hidráulicas,PROYECTOS,OBRAS CIVILES EMERGENCIA,40057546-0,CONSERVACION DE EMERGENCIA DE CAUCES NATURALES...,17/06/24,17/06/24,24/06/24,1641470000,76800373,CONIX INGENIERIA Y CONSTRUCCION SPA
119910,2024,Ñuble,394724,INICIATIVAS DE INVERSIÓN,Dirección de Obras Hidráulicas,PROYECTOS,CONSULTORÍAS,30190522-0,"CONSTRUCCIÓN SISTEMA REGADIO EMBALSE ZAPALLAR,...",28/06/24,28/06/24,28/06/24,9330483,59169360,TECNICA Y PROYECTOS S.A. AGENCIA EN CHILE
119911,2024,Ñuble,394737,INICIATIVAS DE INVERSIÓN,Dirección de Obras Hidráulicas,PROYECTOS,CONSULTORÍAS,30190522-0,"CONSTRUCCIÓN SISTEMA REGADIO EMBALSE ZAPALLAR,...",26/06/24,26/06/24,27/06/24,20590570,76654187,SUR SOCIAL CONSULTORA SPA
119912,2024,Ñuble,395918,INICIATIVAS DE INVERSIÓN,Dirección de Obras Hidráulicas,PROYECTOS,OBRAS CIVILES EMERGENCIA,40060879-0,CONSERVACION EMERGENCIA DE CAUCES NATURALES RE...,07/06/24,07/06/24,12/06/24,454895754,76280936,FORESTA SPA

REQUISITOS_DF

In [ ]:
requisitos_df.head(10)
#

,CODIGOCONTRATO,NOMBRE_TIPOREGISTRO,CODIGO_ESPECIALIDAD,NOMBRE_ESPECIALIDAD,CODIGO_CATEGORIA,NOMBRE_CATEGORIA
0,148176,Contratista O. Menores,13 O.M.,Instalaciones Eléctricas,A a S,A Superior
1,155576,Contratista O. Mayores,3 O.C.,Pavimentos,2da,Segunda
2,138305,Contratista O. Mayores,2 O.C.,Obras de Hormigon Estructural,2da,Segunda
3,138305,Contratista O. Mayores,10 O.C.,Fundaciones,3era A,Tercera A
4,138305,Contratista O. Mayores,15 O.C.,Puentes y Cruces Desnivelados,2da,Segunda
5,149270,Contratista O. Mayores,1 O.C.,Obras de Movimiento de Tierra,3,Tercera
6,149270,Contratista O. Mayores,3 O.C.,Pavimentos,3,Tercera
7,161281,Contratista O. Mayores,1 O.C.,Obras de Movimiento de Tierra,1era,Primera
8,143926,Contratista O. Mayores,1 O.C.,Obras de Movimiento de Tierra,1era,Primera
9,143926,Contratista O. Mayores,3 O.C.,Pavimentos,3era A,Tercera A

PROYECTOS_DF

In [ ]:
proyectos_df['MONTO_VIGENTE_P'].astype(int)

,EJE_DESCRIPCION,SERVICIO,PROYECTO,CODIGOBIP,ETAPAPROYECTO,FINANCIAMIENTO,NOMBREPROYECTO,REGIONGEOGRAFICA,FECHA_INICIO,FECHA_TERMINO,MONTO_VIGENTE_P,PROVINCIAS,COMUNAS
0,Competitividad / Conectividad,Dirección de Vialidad,56967,40059450-0,EN EJECUCION,Sectorial,CONSERVACION POR EMERGENCIA REGIÓN DE LOS LAGO...,Los Lagos,01/01/24,30/12/25,1821396.0,INTERPROVINCIAL,INTERCOMUNAL
1,Seguridad Ciudadana y ante desastres naturales...,Dirección de Obras Hidráulicas,56963,40060874-0,EN EJECUCION,Sectorial,CONSERVACION DE EMERGENCIA DE CAUCES NATURALES...,Libertador General Bernardo O'Higgins,01/01/24,30/12/24,4093153.0,"CACHAPOAL, CARDENAL CARO, COLCHAGUA","RANCAGUA, CODEGUA, COINCO, COLTAUCO, DOÑIHUE, ..."
2,Seguridad Ciudadana y ante desastres naturales...,Dirección de Obras Hidráulicas,56962,40060879-0,TERMINADO,Sectorial,CONSERVACION EMERGENCIA DE CAUCES NATURALES RE...,Ñuble,23/10/23,01/09/24,3832688.0,INTERPROVINCIAL,INTERCOMUNAL
3,Seguridad Ciudadana y ante desastres naturales...,Dirección de Obras Hidráulicas,56886,40060734-0,EN EJECUCION,Sectorial,CONSERVACION DE EMERGENCIA DE CAUCES NATURALES...,Maule,20/02/24,08/03/25,16520764.0,"TALCA, CAUQUENES, CURICO, LINARES","TALCA, CONSTITUCION, CUREPTO, EMPEDRADO, MAULE..."
4,"Desarrollo Energético, Productivo, Social, Cul...",Dirección de Obras Portuarias,56803,40060006-0,EN EJECUCION,Sectorial,"CONSERVACION CALETA PUNTA LAVAPIE, ARAUCO",Biobío,30/05/24,27/10/24,291822.0,ARAUCO,ARAUCO
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5212,Seguridad hídrica,Dirección de Obras Hidráulicas,362,20119676-0,TERMINADO,Sectorial,CONSTRUCCION EMBALSE CHACRILLAS DE PUTAENDO,Valparaíso,01/01/00,14/06/19,108845982.0,SAN FELIPE,PUTAENDO
5213,Seguridad hídrica,Dirección de Obras Hidráulicas,345,20088640-0,TERMINADO,Sectorial,CONSTRUCCION SISTEMA DE REGULACION VALLE DEL A...,Valparaíso,01/01/00,28/01/16,21163123.0,"VALPARAISO, LOS ANDES, QUILLOTA, SAN FELIPE, M...","QUINTERO, LOS ANDES, SAN ESTEBAN, CALERA, HIJU..."
5214,"Desarrollo Energético, Productivo, Social, Cul...",Dirección de Arquitectura,233,20155346-0,TERMINADO,Sectorial,CONSTRUCCION EDIFICIO MINISTERIO DE OBRAS PUBL...,Valparaíso,17/08/06,30/11/23,831133.0,VALPARAISO,VALPARAISO
5215,"Desarrollo Energético, Productivo, Social, Cul...",Dirección de Arquitectura,201,20107677-0,TERMINADO,Sectorial,CONSTRUCCION EDIFICIO M.O.P. LA SERENA,Coquimbo,01/01/00,23/12/11,11685546.0,ELQUI,LA SERENA
5216,Competitividad / Conectividad,Dirección de Aeropuertos,168,20192595-0,TERMINADO,Sectorial,CONSTRUCCION PEQUEÑO AERODROMO YENDEGAIA COMUN...,Magallanes y de la Antártica Chilena,01/10/11,09/12/12,411191.0,ANTARTICA CHILENA,CABO DE HORNOS